/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
     background-color: rgba(244,251,255,1);
}
.navbar {
    background-color: white;
}

.navbar-brand {
    position: absolute;
    left: 50%;
}


.post-panel {

	margin-top: -21px;
	margin-bottom: -10px;
}

.post-title {
	text-align: left;
	margin-left: 15px;
	
}

.post-content {
	text-align: left;
	margin-left: 15px;
	
}

.post-creation{
	opacity:0.65;
}

.post-owner {
	color:black;
	font-weight:bold;
}
.post-links{
	text-align:left;
}

.g-links {
	font-size:120%;
	margin-right: 75px;
	opacity:0.7;
}

.post-view-conversation {
	font-size:80%;
	text-align: right;

}

.panel-image-previewAAA {
	height: 10%;
	width: 100%;

}

.panel-image-preview {
    height:120px;
	width:100%;
}

.rounded-border {
    border-radius: 10px;
    border: 2px solid #ffffff;
    #padding: 20px; 
    #width: 200px;
    #height: 150px; 
}

.p-small {
    line-height: 50%;
}

.p-big-blue {
	font-size:110%;
	color: rgba(22,180,230,1);
	font-weight:bold;
}
